header{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: -8px 0 0 -8px;
    width: 1920px;
    height: 83px;
    font-family: Roboto;
}

.titulo{
    font-size: 12px;
    padding: 9px 0 0 196px;
    width: 250px;
}
.contato{
    display: flex;
    
}

.lista{
    list-style: none;
    display: flex;
    column-gap: 80px;
    padding: 15px 0 0 750px;
}

body {
background-image: url("/img/bkg.png");
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}

.nuvem{
    background-color: #F70058;
    width: 85px;
    margin: 0 0 0 50px;
}

.temp{
    background-color: #0C0E36;
    width: 175px;
    
}

.nuvem_img{
    margin: 13px 0 0 17px ;
}

.c1{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    margin: 19px 0 0 15px;
}

.h4-1{
    color: white;
    font-size: 14px;
    margin: -16px 0 0 120px;
}
.div_temp{
    background-color: #8A8A9D;
    width: 150px;
    height: 1px;
    margin: 10px 0 0 10px;
}

.c2{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    margin: 10px 0 0 15px;
}

.h4-2{
    color: white;
    font-size: 14px;
    margin: -16px 0 0 120px;
}

.titulo_2{
    width: 550px;
    font-family: Work Sans;
    font-size: 48px;
    padding: 150px 0 0 185px;
}

.texto{
    width: 500px;
    text-align: justify;
    font-family: Work Sans;
    padding: 0 0 0 185px;
}

.btns{
    padding: 30px 0 0 185px;
}

.btn1{
    background-color: #F70058;
    color: white;
    border: 0;
    width: 170px;
    height: 40px;
    font-family: Work Sans;
    font-size: 15px;
}

.btn2{
    margin: 0 0 0 20px;
    color: #F70058;
    border-color: #F70058;
    width: 170px;
    height: 40px;
}